name: Java CI

on:
    push:
    pull_request:
    workflow_dispatch:
    
jobs:
    build:
        runs-on: ubuntu-latest
        
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
            
      - name: Set up JDK 22
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '22'
          cache: 'maven'

      - name: Build with Maven
        run: mvn -B verify